<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'partials/head' %>
  </head>

  <body>
    <div class="container m-auto flex h-svh max-h-svh max-w-screen-xl">
      <% if content_for?(:with_left_sidebar) %>
        <aside class="hidden h-full flex-[0.3] md:block">
          <section class="grid h-full">
            <%= yield(:with_left_sidebar) %>
          </section>
        </aside>
      <% end %>

      <main class="flex h-full flex-1 flex-col">
        <section class="flex h-full flex-col overflow-y-scroll">
          <%= render partial: 'partials/components/header' %>

          <%= content_for?(:main_content) ? yield(:main_content) : yield %>

          <%= render partial: 'partials/components/footer' %>
        </section>

        <% if content_for?(:with_botton_navigation) %>
          <nav class="sticky top-0 block md:hidden">
            <%= yield(:with_botton_navigation) %>
          </nav>
        <% end %>
      </main>

      <% if content_for?(:with_right_sidebar) %>
        <aside class="hidden h-full flex-[0.3] lg:block">
          <section class="grid h-full">
            <%= yield(:with_right_sidebar) %>
          </section>
        </aside>
      <% end %>
    </div>
  </body>
</html>
